.bulletin-header.container-fluid
  .row
    .col-sm-4.col-md-3.col-xs-12
      .row
        img.bulletin-logo.img-responsive(height='70', width='70', src='/images/header-logo.svg')
        span.bulletin-logo-text City of Corpus Christi
    .col-sm-4.col-sm-6.col-xs-12
      h2.header-title.text-center Electronic Bulletin Board
