//------------------------------------
//  Baseline Colors
//------------------------------------
$gray: #808080;
$gray-light: #f9f9f9;
$gray-light-2: #eee;
$gray-light-3: #ddd;
$gray-light-4: #bbb;
$gray-med: #666;
$gray-dark: #333;
$gray-dark-2: #131313;
$white: #fff;
$black: #000;

//------------------------------------
//  Corpus Colors
//------------------------------------

// $dark-background: #212C66;
// $dark-blue: #192146;
// $darker-blue: darken($dark-blue,10%);
// $light-blue: #62ADEC;
// $lighter-light-blue: lighten($light-blue,10%);
// $yellow: #F7B202;
// $lighter-yellow: lighten($yellow,10%);
// $darker-yellow: darken($yellow,10%);
// $darker-white: darken($white,10%);
// $red: #EB332D;
// $darker-red: darken($red,10%);
// $otherblue: #A4D2F8;
// $lighter-otherblue: lighten($otherblue,10%);
// $tan: #F8F6F3;
// $sand: #F3EFEC;
